.banner {
    background-image: url(../../assets/image/foto\ main.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    height: 1040px;
    
    
    
}