.box {
    display: inline-block;
    background-color: #DEEFEF;
    width: 600px;
    box-shadow: 10px 10px 0 #FFF;
    text-align: center;
    padding: 40px 44px;
}

.box .main-title {
    margin-bottom: 28px;
    
}