.card-project {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #149A9B;
    width: 280px;
    height: 280px;
    box-shadow: 5px 5px 1px white;
}

.card-project.-second {
    background-color: #DEEFE7;
}

.card-project.-third {
    background-color: #002333;
    
}

.card-project.-third .img-h2c {
    width: 240px;
    height: 240px;
}