.main-section {
    background-color:#B4BEC8 ;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}

.main-section .main-title {
    margin-bottom: 60px;
}
.main-section.-second {
   background-color: #bbb;
   border-bottom: 10px solid #B4BEC8;

}

